.fs-10px {
  font-size: 10px;
}

.fs-11px {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13px {
  font-size: 13px;
}

.fs-14px {
  font-size: 14px;
}

.fs-15px {
  font-size: 15px;
}

.fs-16px {
  font-size: 16px;
}

.fs-26px {
  font-size: 26px;
}

.fw-600 {
  font-weight: 600 !important;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-150px {
  width: 150px;
}

.main-color {
  color: #F46523;
}

.color-777 {
  color: #777;
}

.btn-sub {
  padding: 16px;
  border-radius: 8px !important;
  gap: 10px;
  background-color: #F46523;
  color: #fff;
  border-radius: 2px;
  padding: 10px 64px;
  transition: 0.4s;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}
.btn-sub:hover {
  background-color: #fff;
  border: 1px solid #F46523;
  color: #F46523;
}

.btn-white {
  padding: 16px;
  border-radius: 8px !important;
  gap: 10px;
  border: 1px solid #F46523;
  background-color: #fff;
  color: #F46523;
  border-radius: 2px;
  padding: 10px 64px;
  transition: 0.4s;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}
.btn-white:hover {
  background-color: #F46523;
  color: #fff;
}

.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 13px;
  border: 1px solid #F46523;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
  background-color: #F46523;
  transition: 0.3s;
}
.main-btn.main-outline {
  color: #F46523;
  background-color: transparent;
}
.main-btn.main-outline:hover {
  color: #fff;
  background-color: #F46523;
}

.btn-white {
  padding: 16px;
  border-radius: 8px !important;
  gap: 10px;
  border: 1px solid #F46523;
  background-color: #fff;
  color: #F46523;
  border-radius: 2px;
  padding: 10px 64px;
  transition: 0.4s;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}
.btn-white:hover {
  background-color: #F46523;
  color: #fff;
}

.main-heading {
  margin-bottom: 35px;
  color: #2f2f2f;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
}
.main-heading span {
  color: #F46523;
}
.main-heading.sm-b {
  margin-bottom: 15px;
}

.main-des {
  margin-bottom: 30px;
  font-size: 17px;
  color: #74818a;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  width: 620px;
}
.main-des.lg {
  color: #2f2f2f;
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 767.98px) {
  .main-des {
    width: 100%;
  }
}

.shape-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 52px;
  color: #F46523;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.shape-title .img {
  display: block;
  margin: 6px auto 0;
  width: 80%;
  max-width: 139px;
  height: auto;
  filter: brightness(0) saturate(100%) invert(14%) sepia(40%) saturate(5137%) hue-rotate(188deg) brightness(93%) contrast(87%);
}

.small-heading {
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.bg-title {
  background-color: #F46523;
  border-right: 4px solid #0d344f;
  color: #fff;
  font-size: 17px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto 10px;
  padding: 0 15px;
}

.main-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  padding: 10px 0;
  position: relative;
  margin-bottom: 10px;
  color: #2f2f2f;
  width: -moz-fit-content;
  width: fit-content;
}
.main-title.white {
  color: #fff;
}
.main-title::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 2px;
  background-color: #F46523;
  bottom: 0;
  inset-inline-start: 0;
}

.service-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 260px;
  padding: 10px;
  border-radius: 23px;
  text-align: center;
  transition: 0.3s;
  background-color: #fff;
}
.service-box .img-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-bottom: 10px;
}
.service-box .img-holder img {
  width: 92px;
  height: 95px;
}
.service-box .title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 22px;
  text-align: center;
  color: #2F2F2F;
}
.service-box .des {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #74818a;
}
.service-box.active, .service-box:hover {
  box-shadow: 0 0 10px 0 rgba(17, 71, 107, 0.2);
}
.service-box.active .title, .service-box:hover .title {
  color: #F46523;
}

.job-box {
  position: relative;
  width: 100%;
  height: 357px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}
.job-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s;
}
.job-box .title {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  z-index: 12;
}
.job-box::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.72), transparent);
  z-index: 11;
}
.job-box:hover img {
  transform: scale(1.02);
}

.box-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.box-info .content-text .title {
  color: #F46523;
  font-weight: 600;
  font-size: 23px;
  font-weight: 400;
}
.box-info .content-text .des {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 10px;
  color: #74818a;
}
@media (max-width: 767.98px) {
  .box-info .content-text {
    font-size: 15px;
  }
}

.operation-box {
  text-align: center;
  padding: 10px 0;
}
.operation-box .header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
}
.operation-box .header .img-holder img {
  width: 64px;
  height: 64px;
}
.operation-box .header .title {
  color: #2f2f2f;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  text-align: justify;
  padding: 10px 0;
}
.operation-box .des {
  margin-bottom: 0px;
  color: #74818a;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: justify;
}

.partner-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  padding: 5px;
  text-align: center;
  background-color: #fff;
}
.partner-box img {
  width: 100px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.partner-box img.won-custom {
  width: 200px;
}

.box-article .date-holder {
  z-index: 100;
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #F46523;
  padding: 9px 20px;
  border-radius: 0px 10px 0px 10px;
  color: #fff;
  font-size: 16px;
}
.box-article .date-holder i,
.box-article .date-holder svg {
  color: #fff;
}
.box-article .date-holder p {
  margin-bottom: 0;
  font-weight: 500;
}
.box-article.show-article {
  transition: 0.3s;
  position: relative;
  border: 1px solid #cfd6d7;
  border-radius: 10px;
  padding: 15px;
}
.box-article.show-article .date-holder {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 20px;
  width: -moz-fit-content;
  width: fit-content;
}
.box-article.show-article .img-holder {
  margin-bottom: 10px;
  border-radius: 10px;
}
.box-article.show-article .img-holder .img-article {
  border-radius: 10px;
  transition: transform, 0.3s;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 260px;
}
.box-article.show-article .text-holder .article-title {
  display: block;
  transition: 0.3s;
  color: #3f5c74;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 5px;
}
.box-article.show-article .text-holder .article-des {
  font-weight: 600;
  color: #757575;
  font-size: 15px;
  margin-bottom: 0%;
}
.box-article.show-article .category {
  display: block;
  width: 100%;
  color: #757575;
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 10px;
}
.box-article.show-article .share-holder {
  display: flex;
  align-items: center;
  gap: 5px;
}
.box-article.show-article .share-holder .circle {
  cursor: pointer;
  transition: 0.3s;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F46523;
}
.box-article.show-article .share-holder .circle:hover {
  transform: translateY(-5px);
}
.box-article.show-article .share-holder .circle a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.box-article.show-article .share-holder .circle a i,
.box-article.show-article .share-holder .circle a svg {
  font-size: 17px;
}

.blocks-news {
  border: 1px solid #cfd6d7;
  padding: 10px;
  border-radius: 10px;
}
.blocks-news .box-side-News {
  background-color: #F46523;
  padding: 10px;
  transition: 0.3s;
}
.blocks-news .box-side-News:hover {
  background-color: #0d344f;
}
.blocks-news .box-side-News .img {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}
.blocks-news .box-side-News .title {
  color: #fff;
  display: block;
  font-size: 14px;
  margin-bottom: 0px;
  font-weight: bold;
}
.blocks-news .box-side-News .category {
  font-size: 11px;
  color: #0d344f;
  margin-bottom: 5px;
}
.blocks-news .box-side-News .content {
  color: #fff;
  margin: 0;
  font-size: 13px;
  max-width: 165px;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .blocks-news .box-side-News .content {
    max-width: 117px;
  }
}

.box-intro {
  position: absolute;
  left: 0%;
  top: 50%;
  width: 500px;
  z-index: 1;
  color: #2F2F2F;
  transform: translateY(-50%);
}
.box-intro span {
  color: #fff;
}
.box-intro .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0px;
  margin-bottom: 0;
  text-align: justified;
}
.box-intro .des {
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0px;
  text-align: justified;
}
@media (max-width: 575.98px) {
  .box-intro {
    width: 100%;
    text-align: center;
    padding: 5px;
  }
  .box-intro .title {
    font-size: 34px;
  }
  .box-intro .des {
    font-size: 22px;
    line-height: 45px;
  }
}

.box-other-image {
  width: 100%;
  height: 303px;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.box-other-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.card-client {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.card-client .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.card-client .info .avatar {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.card-client .info .name {
  color: #F46523;
  font-size: 16px;
  line-height: normal;
  margin: 0;
  font-weight: 500;
}
.card-client .info .role {
  color: rgba(47, 47, 47, 0.6);
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}
.card-client .stars {
  display: flex;
  align-items: center;
  gap: 5px;
}
.card-client .stars .icon {
  color: #cfd6d7;
  width: 20px;
}
.card-client .stars .icon.active {
  color: #ffb800;
}
.card-client .text {
  color: rgba(47, 47, 47, 0.8);
  text-align: justify;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  /* 21px */
}
.card-client .text span {
  color: #F46523;
  font-weight: 500;
}

.box-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  min-height: 507px;
  height: 100%;
  border-radius: 16px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.box-work .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}
.box-work .content .img-holder {
  width: 100%;
  height: 295px;
  border-radius: 8px;
}
.box-work .content .img-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.box-work .content .name {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 0px;
  color: rgb(47, 47, 47);
}
.box-work .content .des {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 0px;
  color: rgba(47, 47, 47, 0.7);
}
.box-work .btn-holder {
  width: 100%;
}
.box-work .btn-holder .main-btn {
  width: 100%;
  padding: 13px;
}

.swiper-landing {
  width: 100%;
  height: 100%;
}
.swiper-landing .swiper-wrapper .swiper-slide {
  position: relative;
}
.swiper-landing .swiper-wrapper .swiper-slide .container {
  position: relative;
  height: 100%;
}
.swiper-landing .swiper-wrapper .swiper-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper-landing .swiper-pagination {
  bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2%;
}
.swiper-landing .swiper-pagination .swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  opacity: 1;
  transition: 0.3s;
  background-color: #fff;
}
.swiper-landing .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #F46523;
}

.swiper-works {
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px 15px 70px;
}
.swiper-works .holder-control {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 280px;
  max-width: 100%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-works .holder-control .swiper-pagination {
  z-index: unset;
}
.swiper-works .holder-control .swiper-pagination .swiper-pagination-bullet {
  width: 32px;
  height: 4px;
  border-radius: 6px;
  opacity: 1;
  transition: 0.3s;
  background-color: rgba(47, 47, 47, 0.3);
}
.swiper-works .holder-control .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #F46523;
}
.swiper-works .holder-control .swiper-button-next,
.swiper-works .holder-control .swiper-button-prev {
  height: -moz-fit-content;
  height: fit-content;
}
.swiper-works .holder-control .swiper-button-next::after,
.swiper-works .holder-control .swiper-button-prev::after {
  font-size: 19px;
  font-weight: 700;
  color: #F46523;
}
.swiper-works .holder-control .swiper-button-next {
  right: 0%;
}
.swiper-works .holder-control .swiper-button-prev {
  left: 0%;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #2F2F2F;
}

ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
  color: #2F2F2F;
}
a:hover {
  color: #2F2F2F;
}

button {
  border: none;
  outline: none;
}

input:focus,
select,
textarea:focus {
  outline: none;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}

/* start scrollbar */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgba(246, 246, 246, 0.9647058824);
  box-shadow: 0 0 2px #ddd inset;
}

::-webkit-scrollbar-thumb {
  background-color: #F46523;
  border-radius: 50px;
}

/* end scrollbar */
.up-btn {
  position: fixed;
  bottom: 16px;
  right: -50px;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #F46523;
  z-index: 999;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s;
}
.up-btn.show {
  right: 16px;
}
.up-btn::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 0%;
  height: 100%;
  z-index: -1;
  background-color: #0d344f;
  transition: 0.4s;
}
.up-btn:hover::before {
  width: 100%;
}
.up-btn i,
.up-btn svg {
  font-size: 17px;
}

.services {
  background-color: #fbfcfd;
}

.operation {
  background-color: #f1f5f6;
}

.contact {
  padding: 70px 0px;
  position: relative;
  z-index: 1;
}
.contact::after, .contact::before {
  filter: brightness(0) saturate(100%) invert(14%) sepia(40%) saturate(5137%) hue-rotate(188deg) brightness(93%) contrast(87%);
}
.contact::after {
  position: absolute;
  width: auto;
  height: auto;
  left: 0;
  z-index: -1;
  top: 35px;
  content: url("../images/layer-1.png");
}
.contact::before {
  position: absolute;
  width: auto;
  height: auto;
  right: 0;
  z-index: -1;
  bottom: 0;
  content: url("../images/layer-2.png");
}
.contact .form {
  max-width: 950px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 2px 10px 28px rgba(75, 0, 129, 0.12);
  background-color: #fff;
}
.contact .form .shape-title {
  margin-bottom: 30px;
}
.contact .form .boxes {
  display: flex;
  gap: 50px;
}
.contact .form .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  gap: 15px;
}
.contact .form .boxes .box .inp-holder {
  width: 100%;
}
.contact .form .boxes .box .inp-holder label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
  color: #0f001a;
}
.contact .form .boxes .box .inp-holder label .sm {
  font-size: 12px;
  font-weight: 300;
  line-height: 13px;
  color: rgba(15, 0, 26, 0.7);
}
.contact .form .boxes .box .inp-holder .inp {
  width: 100%;
  display: block;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #b4bec8;
  font-size: 14px;
  font-weight: 400;
}
.contact .form .boxes .box .inp-holder .inp::-moz-placeholder, .contact .form .boxes .box .inp-holder textarea::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: rgba(135, 135, 135, 0.5);
}
.contact .form .boxes .box .inp-holder .inp::placeholder,
.contact .form .boxes .box .inp-holder textarea::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: rgba(135, 135, 135, 0.5);
}
.contact .form .boxes .box .inp-holder textarea {
  height: 135px;
}
.contact .form .boxes .box .btn-sub {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  background-color: #F46523;
}
.contact .form .boxes .box.two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.contact .form .boxes .box.two .item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.contact .form .boxes .box.two .item .icon {
  width: 20px;
  font-size: 23px;
  text-align: center;
  color: #F46523;
}
.contact .form .boxes .box.two .item .text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #2F2F2F;
}
.contact .form .boxes .box.two .social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}
.contact .form .boxes .box.two .social a .icon {
  font-size: 21px;
  color: #F46523;
}
.contact .form .boxes .box.two .map {
  width: 100%;
}
.contact .form .boxes .box.two .map iframe {
  border-radius: 4px;
  width: 100%;
  height: 185px;
}
@media (max-width: 991.98px) {
  .contact .form {
    padding-right: 20px;
  }
  .contact .form .boxes {
    flex-direction: column;
    gap: 1rem;
  }
  .contact .form .boxes .box.two .item {
    gap: 16px;
  }
}

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 111;
  background-color: rgba(47, 47, 47, 0.8);
}
.site-header .top-nav {
  min-height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
@media (max-width: 767.98px) {
  .site-header .top-nav {
    padding: 7px 0px;
  }
}
.site-header .top-nav .nav-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}
@media (max-width: 767.98px) {
  .site-header .top-nav .nav-content {
    justify-content: center;
  }
}
.site-header .top-nav .nav-content .holder-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.site-header .top-nav .nav-content .nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.site-header .top-nav .nav-content .nav-list .item .link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  color: #fff;
  text-align: right;
  transition: transform ease-out 0.3s;
  background-color: transparent;
}
.site-header .top-nav .nav-content .nav-list .item .link .icon {
  width: 20px;
  height: auto;
}
.site-header .top-nav .nav-content .nav-list .item .link:hover {
  transform: scale(1.04);
}
.site-header .top-nav .nav-content .nav-list .item.dropdown .dropdown-toggle {
  gap: 5px;
}
.site-header .top-nav .nav-content .nav-list .item.dropdown .dropdown-toggle::after {
  content: none !important;
}
.site-header .top-nav .nav-content .nav-list .item.dropdown .dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.site-header .bottom-nav {
  box-shadow: 0px 4px 4px 0px rgba(178, 178, 178, 0.2);
  min-height: 108px;
  padding: 0;
}
@media (max-width: 767.98px) {
  .site-header .bottom-nav {
    padding: 7px 0px;
  }
}
.site-header .bottom-nav h1 .navbar-brand {
  margin-left: 0;
}
.site-header .bottom-nav h1 .navbar-brand img {
  width: 200px;
  height: auto;
}
.site-header .bottom-nav .navbar-toggler {
  padding: 0;
  border: 0px;
}
.site-header .bottom-nav .navbar-toggler:focus {
  box-shadow: none;
}
.site-header .bottom-nav .navbar-toggler i,
.site-header .bottom-nav .navbar-toggler svg {
  font-size: 31px;
  color: #fff;
}
.site-header .bottom-nav .navbar-collapse .navbar-nav {
  flex: 1;
  justify-content: center;
  gap: 39px;
}
.site-header .bottom-nav .navbar-collapse .navbar-nav .nav-item .nav-link {
  position: relative;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  color: #fff;
}
.site-header .bottom-nav .navbar-collapse .navbar-nav .nav-item .nav-link.active {
  color: #F46523;
}
.site-header .bottom-nav .navbar-collapse .navbar-nav .nav-item .nav-link.active::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scale(0.8);
  background-color: #F46523;
}
@media (max-width: 767.98px) {
  .site-header .bottom-nav .navbar-collapse .navbar-nav .nav-item .nav-link.active::after {
    transform: scale(1);
  }
}
.site-header .bottom-nav .navbar-collapse .navbar-nav .nav-item .nav-link.active::before {
  content: none;
}
.site-header .bottom-nav .navbar-collapse .navbar-nav .nav-item .nav-link::before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transition: 0.3s;
  transform: scale(0);
  background-color: #fff;
}
.site-header .bottom-nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover::before {
  transform: scale(0.8);
}
@media (max-width: 767.98px) {
  .site-header .bottom-nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover::before {
    transform: scale(1);
  }
}
.site-header .bottom-nav .btn-holder .search-nav {
  background-color: transparent;
}
.site-header .bottom-nav .btn-holder .search-nav img {
  width: 21px;
  height: auto;
}

.landing-holder {
  position: relative;
  height: 100vh;
}

.about .box-side .text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: justify;
  margin-bottom: 10px;
}
.about .box-side .info {
  margin: 10px 0;
}
.about .box-side .info .item {
  padding: 10px;
  display: flex;
  gap: 10px;
}
.about .box-content .inp-holder .title {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  margin: 10px 0;
}
.about .box-content .inp-holder .inp {
  border: 2px solid rgba(47, 47, 47, 0.2);
  background-color: rgba(178, 178, 178, 0.1);
}
.about .box-content .inp-holder .inp::-moz-placeholder {
  color: rgba(47, 47, 47, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.about .box-content .inp-holder .inp::placeholder {
  color: rgba(47, 47, 47, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.subject {
  padding: 50px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}
.subject .list {
  flex: 1;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  border-left: 1px solid #2f2f2f;
}
.subject .list:first-child {
  border: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dream-makers .col {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.dream-makers .col .img-section {
  width: 100%;
  height: auto;
  max-height: 450px;
}
.dream-makers .col .text-section {
  color: rgba(47, 47, 47, 0.8);
  text-align: justify;
  font-size: 15px;
  font-weight: 500;
  line-height: 200%;
  margin: 0;
}
.dream-makers .col .text-section span {
  color: #F46523;
  font-weight: 600;
}
.dream-makers .col .list-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #2f2f2f;
  text-align: justify;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px; /* 200% */
  margin-top: 24px;
}
.dream-makers .col .list-section li {
  list-style-type: none;
  background-image: url("../../../images/icons/cr-done-green.png");
  background-repeat: no-repeat;
  padding-left: 32px;
  background-size: 24px;
  background-position: left center;
}

.footer {
  background-color: #808080;
  color: white;
  font-size: 16px;
  font-weight: 400;
}
.footer .footer-top {
  padding: 40px 0 20px;
}
.footer .footer-top .info {
  display: flex;
  align-items: center;
}
.footer .footer-top .info .logo {
  margin-bottom: 26px;
  width: 187px;
  height: auto;
}
@media (max-width: 767.98px) {
  .footer .footer-top .info .logo {
    width: 100px;
  }
}
.footer .footer-top .items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .footer-top .items .item {
  white-space: nowrap;
  color: white;
  line-height: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: justified;
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer .footer-top .box-social .social {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer .footer-top .box-social .social i,
.footer .footer-top .box-social .social svg {
  color: white;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 9px;
  width: 20px;
  height: 20px;
  transition: 0.3s all ease-in;
}
.footer .footer-top .box-social .social i:hover,
.footer .footer-top .box-social .social svg:hover {
  background-color: #F46523;
  color: #fff;
}
.footer .bar {
  height: 0.5px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.footer .footer-bottom {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding: 10px 0 11px;
}/*# sourceMappingURL=main.css.map */