$main-color: #F46523;
$main-color-dark: #0d344f;
$main-color-light: #74818a;
$alt-color: #edd04a;


$nav-link:#fff;
$active-nav-link:#F46523;

$main-text-color:#2F2F2F;

$white-color: #fff;
$black-color: #000;
$gray-color: #808080;

$bg-section-main: #fbfcfd;
$bg-section-sec: #f1f5f6;
$footer-bg: #11476b;